In [ ]:
import pandas as pd

df = pd.read_csv("../data/telco.csv")

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,Male,78,No,Yes,No,No,0,United States,California,...,20,0.00,59.65,3,Churned,Yes,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,Female,74,No,Yes,Yes,Yes,1,United States,California,...,0,390.80,1024.10,3,Churned,Yes,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,Male,71,No,Yes,No,Yes,3,United States,California,...,0,203.94,1910.88,2,Churned,Yes,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,Female,78,No,Yes,Yes,Yes,1,United States,California,...,0,494.00,2995.07,2,Churned,Yes,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Female,80,No,Yes,Yes,Yes,1,United States,California,...,0,234.21,3102.36,2,Churned,Yes,67,2793,Price,Extra data charges
5,4412-YLTKF,Female,72,No,Yes,No,Yes,1,United States,California,...,10,89.91,2235.41,1,Churned,Yes,95,4638,Competitor,Competitor had better devices
6,0390-DCFDQ,Female,76,No,Yes,Yes,Yes,2,United States,California,...,0,15.28,85.73,2,Churned,Yes,76,3964,Other,Don't know
7,3445-HXXGF,Male,66,No,Yes,Yes,No,0,United States,California,...,0,0.00,2610.25,1,Churned,Yes,91,5444,Dissatisfaction,Service dissatisfaction
8,2656-FMOKZ,Female,70,No,Yes,No,Yes,2,United States,California,...,0,661.05,1806.75,2,Churned,Yes,91,5717,Dissatisfaction,Limited range of services
9,2070-FNEXE,Female,77,No,Yes,No,Yes,2,United States,California,...,0,188.65,681.20,2,Churned,Yes,81,4419,Price,Lack of affordable download/upload speed

In [3]:
# 3. 데이터 구조 확인
print("✅ 데이터 shape:", df.shape)
print("\n✅ 컬럼 정보:")
print(df.info())

# 4. 샘플 확인
print("\n✅ 상위 5개 샘플:")
print(df.head())

✅ 데이터 shape: (7043, 50)

✅ 컬럼 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   object
 4   Senior Citizen                     7043 non-null   object
 5   Married                            7043 non-null   object
 6   Dependents                         7043 non-null   object
 7   Number of Dependents               7043 non-null   int64
 8   Country                            7043 non-null   object
 9   State                              7043 non-null   object
 10  City                               7043 non-null   object
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Quarter                            7043 non-null   object
 16  Referred a Friend                  7043 non-null   object
 17  Number of Referrals                7043 non-null   int64
 18  Tenure in Months                   7043 non-null   int64
 19  Offer                              3166 non-null   object
 20  Phone Service                      7043 non-null   object
 21  Avg Monthly Long Distance Charges  7043 non-null   float64
 22  Multiple Lines                     7043 non-null   object
 23  Internet Service                   7043 non-null   object
 24  Internet Type                      5517 non-null   object
 25  Avg Monthly GB Download            7043 non-null   int64
 26  Online Security                    7043 non-null   object
 27  Online Backup                      7043 non-null   object
 28  Device Protection Plan             7043 non-null   object
 29  Premium Tech Support               7043 non-null   object
 30  Streaming TV                       7043 non-null   object
 31  Streaming Movies                   7043 non-null   object
 32  Streaming Music                    7043 non-null   object
 33  Unlimited Data                     7043 non-null   object
 34  Contract                           7043 non-null   object
 35  Paperless Billing                  7043 non-null   object
 36  Payment Method                     7043 non-null   object
 37  Monthly Charge                     7043 non-null   float64
 38  Total Charges                      7043 non-null   float64
 39  Total Refunds                      7043 non-null   float64
 40  Total Extra Data Charges           7043 non-null   int64
 41  Total Long Distance Charges        7043 non-null   float64
 42  Total Revenue                      7043 non-null   float64
 43  Satisfaction Score                 7043 non-null   int64
 44  Customer Status                    7043 non-null   object
 45  Churn Label                        7043 non-null   object
 46  Churn Score                        7043 non-null   int64
 47  CLTV                               7043 non-null   int64
 48  Churn Category                     1869 non-null   object
 49  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(11), object(31)
memory usage: 2.7+ MB
None

✅ 상위 5개 샘플:
  Customer ID  Gender  Age Under 30 Senior Citizen Married Dependents  \
0  8779-QRDMV    Male   78       No            Yes      No         No
1  7495-OOKFY  Female   74       No            Yes     Yes        Yes
2  1658-BYGOY    Male   71       No            Yes      No        Yes
3  4598-XLKNJ  Female   78       No            Yes     Yes        Yes
4  4846-WHAFZ  Female   80       No            Yes     Yes        Yes

   Number of Dependents        Country       State  ...  \
0                     0  United States  California  ...
1                     1  United States  California  ...
2                     3  United States  California  ...
3                     1  United States  California  ...
4                     1  United States  California  ...

  Total Extra Data Charges  Total Long Distance Charges  Total Revenue  \
0                       20                         0.00          59.65
1                        0                       390.80        1024.10
2                        0                       203.94        1910.88
3                        0                       494.00        2995.07
4                        0                       234.21        3102.36

   Satisfaction Score  Customer Status Churn Label Churn Score  CLTV  \
0                   3          Churned         Yes          91  5433
1                   3          Churned         Yes          69  5302
2                   2          Churned         Yes          81  3179
3                   2          Churned         Yes          88  5337
4                   2          Churned         Yes          67  2793

    Churn Category                  Churn Reason
0       Competitor  Competitor offered more data
1       Competitor  Competitor made better offer
2       Competitor  Competitor made better offer
3  Dissatisfaction     Limited range of services
4            Price            Extra data charges

[5 rows x 50 columns]

In [5]:
# 범주형 변수 목록 추출
cat_cols = df.select_dtypes(include='object').columns.tolist()
cat_cols = [col for col in cat_cols if col not in ['Customer ID', 'Churn Label', 'Customer Status', 'Churn Category', 'Churn Reason']]

# 고유값 수 확인
for col in cat_cols:
    print(f"{col:25} ▶ 고유값: {df[col].nunique()}개 ▶ 예시: {df[col].unique()[:5]}")

Gender                    ▶ 고유값: 2개 ▶ 예시: ['Male' 'Female']
Under 30                  ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Senior Citizen            ▶ 고유값: 2개 ▶ 예시: ['Yes' 'No']
Married                   ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Dependents                ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Country                   ▶ 고유값: 1개 ▶ 예시: ['United States']
State                     ▶ 고유값: 1개 ▶ 예시: ['California']
City                      ▶ 고유값: 1106개 ▶ 예시: ['Los Angeles' 'Inglewood' 'Whittier' 'Pico Rivera' 'Los Alamitos']
Quarter                   ▶ 고유값: 1개 ▶ 예시: ['Q3']
Referred a Friend         ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Offer                     ▶ 고유값: 5개 ▶ 예시: [nan 'Offer E' 'Offer D' 'Offer C' 'Offer B']
Phone Service             ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Multiple Lines            ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Internet Service          ▶ 고유값: 2개 ▶ 예시: ['Yes' 'No']
Internet Type             ▶ 고유값: 3개 ▶ 예시: ['DSL' 'Fiber Optic' 'Cable' nan]
Online Security           ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Online Backup             ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Device Protection Plan    ▶ 고유값: 2개 ▶ 예시: ['Yes' 'No']
Premium Tech Support      ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Streaming TV              ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Streaming Movies          ▶ 고유값: 2개 ▶ 예시: ['Yes' 'No']
Streaming Music           ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Unlimited Data            ▶ 고유값: 2개 ▶ 예시: ['No' 'Yes']
Contract                  ▶ 고유값: 3개 ▶ 예시: ['Month-to-Month' 'One Year' 'Two Year']
Paperless Billing         ▶ 고유값: 2개 ▶ 예시: ['Yes' 'No']
Payment Method            ▶ 고유값: 3개 ▶ 예시: ['Bank Withdrawal' 'Credit Card' 'Mailed Check']

In [6]:
label_cols = [
    'Gender', 'Under 30', 'Senior Citizen', 'Married', 'Dependents',
    'Referred a Friend', 'Phone Service', 'Multiple Lines', 'Internet Service',
    'Online Security', 'Online Backup', 'Device Protection Plan',
    'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
    'Streaming Music', 'Unlimited Data', 'Paperless Billing'
]

In [7]:
onehot_cols = [
    'Contract', 'Payment Method', 'Internet Type', 'Offer'
]

In [8]:
drop_cols = ['Customer ID', 'Country', 'State', 'City', 'Quarter',
             'Customer Status', 'Churn Score', 'Churn Category', 'Churn Reason']